<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>登录-<%= process.env.COMPANY %></title>
  <link rel="shortcut icon" href="/static/favicon.ico?v=1" />
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
</head>

<body>
  <div id="main"></div>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
</body>

</html>
